.App {
  text-align: center;
}

.main{
  width: 100vw;
  min-height: 100%;
  padding-bottom: 250px;
}

.body {
  min-height: 100vh;
  min-width: fit-content;
  color: #303030;
  font-family: Roboto Flex,sans-serif;
}
.ul{
  list-style: none;
}
