.footer-wrapper{
  width: 100%;
  -moz-box-shadow: 0 -1.5px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 -1.5px 2px rgba(0,0,0,0.5);
  background-color: #f0eeeee0;
}

.footer{
    position: relative;
    justify-content: center;
    clear:both;

    width: 100%;
    padding-bottom: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 90px;
  }

  .footer-col{
    margin: auto;
  }

  .footer-info, .footer-btn{
    font-family: robotoFlex,sans-serif;
    font-weight: 500;
    color: #303030;
    line-height: 1.25rem;
    font-size: 18px;
  }

  .footer-btn, .footer-btn a{
    padding-top: 20px;
    color: #7e7e7e;
    text-decoration:none;
  }

  .footer-btn:hover{
    cursor: pointer;
  }

  .footer h2{
    transition: 0.3s;
  }
  .footer h2:hover{
    color: rgb(52, 52, 52);
  }
  
  .footer h3{
    color: #484f55;
  }

  @media only screen and (max-width: 500px){
    .footer-row{
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  
