
  .navbar{
    background-color: #f0eeeee0;
    box-shadow: 0 4px 2px -2.5px gray;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    
  }
  
  .navbar_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  }
  
  .navbar_wrapper a{
    color:#000000;
    text-decoration:none;
    padding-left:30px;
  }
  
  .navbar-home-icon{
    padding-right: 30px;
    height: 50px;
    width: 120px;
  }
  
  
  .search {
  overflow : clip;
  display: flex;

  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
  }
  
  .search-input {
    padding-left: 20px;
    min-width: 350px;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    outline: none;
    color: black;
    background: #fff;
  }
  
  ::placeholder{
    color: #a1a1a1;
  }
  .search img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .search-input-icon{
    background-color: #f83939;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 23px;
    opacity: 1;
    transition: 0.3s;
  }
  
  .search-input-icon:hover{
    opacity: 0.8;
  }
  
  .navbar-buttons{
    background-color: #f0eeeee0;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.25rem;
    font-family: robotoFlex;
  }
  
  .navbar-login-btn{
    color: #f4511e;
    background-color: #ffffff;
    border: 1px solid #9d8c87;
    transition: 0.3s;
    border-radius: 50px;
    width: 100px;
    height: 40px;
  }
  .navbar-login-btn:hover{
    background-color: rgb(241, 229, 229);
  }
  
  .navbar-register-btn{
    color: #ffffff;;
    background-color: #f4511e;
    transition: 0.3s;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    border: none;
  }
  
  .navbar-register-btn:hover{
    background-color: #f88b6a;
  }

  .navbar-buy-btn{
    color: #ffffff;;
    background-color: #f4511e;
    transition: 0.3s;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    border: none;
  }

  .navbar-buy-btn:hover{
    background-color: #f88b6a;
  }



 @media only screen and (max-width: 1200px) {


    .search,.navbar-buttons { display: none; } 

    .navbar-home-icon{  
  margin-left: auto;
  margin-right: auto;
  }
  }

