.footer{
    background-color: #f0eeeee0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:75px;
    text-align: center;
    border-top: double;
    padding-bottom: 200px;
    margin-top: auto;
  }
  
  .footer a{
    color:#000000;
    text-decoration:none;
  
  }
  
  .footer h3{
    color: #484f55;
  }
  
  .footer-btn:hover{
    cursor: pointer;
  }