
  .navbar{
    background-color: #f0eeeee0;
    border-bottom:double;
    
  }
  
  .navbar_wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  }
  
  .navbar_wrapper a{
    color:#000000;
    text-decoration:none;
    padding-left:30px;
  }
  
  .navbar-home-icon{
    padding-right: 20px;
  }
  
  
  .search {
    display: flex;
    overflow : clip;
    padding: 0.6rem 0.6rem;
    min-width: 600px;
    height: 60px;
    border-radius: 3rem;
    background: #fff;
    border: 1px solid #d3d0d0;
  }
  
  .search-input {
    width: auto;
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    outline: none;
    color: #a1a1a1;
    background: #fff;
  }
  
  .search img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .search-input-icon{
    background-color: #f83939;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    opacity: 1;
    transition: 0.3s;
  }
  
  .search-input-icon:hover{
    opacity: 0.8;
  }
  
  .navbar-buttons{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 200px;
    font-size: 20px;
  }
  
  .navbar-login-btn{
    background-color: #ffffff;
    border: 2px solid #f4511e;
    transition: 0.3s;
    border-radius: 50px;
    width: 120px;
    height: 50px;
  }
  .navbar-login-btn:hover{
    background-color: rgb(241, 229, 229);
  }
  
  .navbar-register-btn{
    background-color: #f4511e;
    transition: 0.3s;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    border: none;
  }
  
  .navbar-register-btn:hover{
    background-color: #f88b6a;
  }